header {
    background-color: black;
    height: 150px !important;
    color: azure;
    text-align: center;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: solid 1px silver;
}

.header h1 {
    font-family: 'Abel', sans-serif;
    color: azure;
}

.header h2 {
    font-family: 'Abel', sans-serif;
    color: azure;
}

header.header {
    background-color: black;
}

