header {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png');
    height: 350px;
    color: azure;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
